<form name="model_form" #model_form="ngForm" (ngSubmit)="onFormSubmit()">
  <fieldset>
    <div class="form-group">
      <label for="id_input1" class="col-form-label">demo: built in validators</label>
      <input type="text" id="id_input1" name="model_input1" class="form-control" [(ngModel)]="input1" required
        minlength="5" #model_input1="ngModel">
      <!-- input validation starts here: built-in validators -->
      <!-- We'll just dump all properties of the input's ngModel here -->
      <div *ngIf="model_input1.valid">Is Valid</div>
      <div *ngIf="model_input1.invalid">Is Invalid</div>
      <div *ngIf="model_input1.dirty">Is Dirty</div>
      <div *ngIf="model_input1.pristine">Is Pristine</div>
      <div *ngIf="model_input1.touched">Is Touched</div>
      <div *ngIf="model_input1.untouched">Is Untouched</div>
      <div *ngIf="model_input1.status">status: {{ model_input1.status }}</div>
      <div *ngIf="model_input1.path">path: {{ model_input1.path }}</div>
      <div *ngIf="model_input1.errors">errors: {{ model_input1.errors }}</div>
      <div *ngIf="model_input1?.errors?.required">error['required']: {{ model_input1?.errors?.required }}</div>
      <div *ngIf="model_input1?.errors?.minlength">error['minlength']: {{ model_input1?.errors?.minlength }}</div>
      <div *ngIf="model_input1?.errors?.email">error['email']: {{ model_input1?.errors?.email }}</div>
      <!-- input validation ends here: built-in validators -->
    </div>
    <div class="form-group">
      <label for="id_input2" class="col-form-label">demo: custom validator</label>
      <input type="text" id="id_input2" name="model_input2" class="form-control" [(ngModel)]="input2" #model_input2="ngModel"
        appCustomValidator="model_input2">
      <!-- input validation starts here: custom validator -->
      <!-- We'll just dump all properties of the input's ngModel here -->
      <div *ngIf="model_input2.valid">Is Valid</div>
      <div *ngIf="model_input2.invalid">Is Invalid</div>
      <div *ngIf="model_input2.dirty">Is Dirty</div>
      <div *ngIf="model_input2.pristine">Is Pristine</div>
      <div *ngIf="model_input2.touched">Is Touched</div>
      <div *ngIf="model_input2.untouched">Is Untouched</div>
      <div *ngIf="model_input2.status">status: {{ model_input2.status }}</div>
      <div *ngIf="model_input2.path">path: {{ model_input2.path }}</div>
      <div *ngIf="model_input2.errors">errors: {{ model_input2.errors }}</div>
      <div *ngIf="model_input2?.errors?.required">error['required']: {{ model_input2?.errors?.required }}</div>
      <div *ngIf="model_input2?.errors?.minlength">error['minlength']: {{ model_input2?.errors?.minlength }}</div>
      <div *ngIf="model_input2?.errors?.email">error['email']: {{ model_input2?.errors?.email }}</div>
      <!-- input validation ends here: custom validator -->
    </div>
    <div class="form-group">
      <label for="id_input3" class="col-form-label">demo: async validator</label>
      <input type="text" id="id_input3" name="model_input3" class="form-control" [(ngModel)]="input3" required
        minlength="5" #model_input3="ngModel">
      <!-- input validation starts here -->
      <!-- input validation ends here -->
    </div>
    <div class="form-group">
      <label for="id_input4" class="col-form-label">demo: misc validator</label>
      <input type="text" id="id_input4" name="model_input4" class="form-control" [(ngModel)]="input4" required
        minlength="5" #model_input4="ngModel">
      <!-- input validation starts here -->
      <!-- input validation ends here -->
    </div>
    <button type="submit" [disabled]="!model_form.form.valid">Submit</button>
  </fieldset>
</form>